{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off", //ругается на консоль.лог при удалении
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "no-useless-escape": 0, //ругается на регулярки
    "func-names": ["error", "never"] // ругается на function, остальное удалила
  }
}
